.form {
  position: fixed;
  width: 80%;
  top: 100px;
  left: 150px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
}

.row {
  padding-left: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.textArea {
  display: block;
}

.header {
  position: fixed;
  width: 80%;
  top: 30px;
  left: 150px;
  padding: 20px;
}
.button {
  margin-right: 10px;
}

/* .button:hover {
  box-shadow: 0 1px 10px 0 #ca9061, 0 17px 50px 0 #ffffff;
} */
