.customnav {
  height: 100%;
  max-width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #232323;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .logout {
  margin-top: -150px;
} */

.icons {
  color: #f0f0f0;
  padding-top: 20px;
}

.icons:hover {
  background-color: #ca9061;
  color: #f0f0f0;
}

.image {
  width: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
}
